# Środowiska wirtualne
venv/
.venv/
env/
.env

# Pliki tymczasowe Pythona
__pycache__/
*.py[cod]
*$py.class

# Cache testów
.pytest_cache/
.coverage
htmlcov/

# Ustawienia edytorów kodu
.vscode/
.idea/

# Lokalne bazy i arkusze
*.sqlite
*.db
*.xlsx
*.pdf

# Wyniki budowania aplikacji
build/
dist/
*.spec

# Metadane instalacji pakietu Python
*.egg-info/
